<html lang="end">
    <%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About blog</h2>
            <p>Dummy content to simulate text describing what this blog is about.</p>
            <p>Dummy content to simulate text describing what this blog is about.</p>
            <p>Dummy content to simulate text describing what this blog is about.</p>
            <p>Dummy content to simulate text describing what this blog is about.</p>
        </div>

        <%- include('./partials/footer.ejs') %>
        
    </body>
</html>